@model TravelTripProje.Models.Sınıflar.About
@{
    ViewBag.Title = "HakkımızdaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("HakkımızdaGüncelle", "Admin", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("ID")
    @Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly" })
    
    @Html.Label("Fotoğraf Linki")
    @Html.TextBoxFor(m => m.FoyoUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FoyoUrl)
    <br />
    @Html.Label("Açıklamayı ")
    @Html.TextAreaFor(m => m.Aciklama, 15, 1, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Aciklama)
    <br />
    <button class="btn btn-success">Güncelle</button>

</div>
}

